* {
    color: white;
}

QMainWindow {
    background-color: #21252b;
}

QPushButton[flat=true] {
    border-style: none;
}

QPushButton[flat=true]:hover {
    background-color: #282c34
}

QPushButton[flat=true]#closeButton:hover {
    background-color: red;
}
